:root{
    --ps-footer: #00439C;
    --ps-h4: #62A8E1;
    --ps-new_arrival: #1F1F1F;
    --ps-information: #2D64E6;
    --ps-login: #363636;
    --ps-plus: #BEBCBB;
    --ps-p: #757575;
    --ps-call_to_action: #CD3D0F;
    --ps-navbar: 13px;
    --ps-h2: 25px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* #region debug */
.debug .header_top{
    height: 20px;
}
.debug .header_bottom{
    height: 70px;
    background-color: red;
}
.debug .jumbotron{
    height: 400px;
    background-color: yellow;
}
.debug .jumbotron .col{
    height: 100px;
    background-color: green;
    border: 1px solid;
}
.debug .play_5{
    height: 400px;
    background-color: slateblue;
}
.debug .play_5 .col{
    height: 100px;
    background-color: darkblue;
    border: 1px solid white;
}
.debug .takes_two{
    height: 400px;
    background-color: orangered;
}
.debug .new_arrival{
    background-color: aqua;
    height: 400px;
}
.debug .new_arrival .col{
    height: 100px;
    background-color: purple;
    border: 1px solid white;
}
.debug .play_4{
    height: 300px;
    background-color: gold;
}
.debug .play_4 .col{
    height: 100px;
    background-color: fuchsia;
    border: 1px solid;
}
.debug .play_plus{
    background-color: red;
    height: 300px;
}
.debug .discount{
    background-color: blue;
    height: 400px;
}
.debug .discount .col{
    height: 100px;
    background-color: salmon;
    border: 1px solid;
}
.debug .play_now{
    height: 300px;
    background-color: cyan;
}
.debug .social_media{
    height: 300px;
    background-color: green;
}
.debug .social_media .col{
    background-color: yellow;
    height: 100px;
    border: 1px solid;
}
.debug footer{
    height: 400px;
}
.debug footer .col{
    height: 100px;
    background-color: red;
    border: 1px solid white;
}

/* #region utilities */
img{
    max-width: 100%;
}
/* #region utilities */
/* #endregion debug */

/* #region header */
.header_top img{
    width: 50px;
}
.header_bottom img{
    width: 28px;
}
.btn_login{
    background-color: var(--ps-login);
    color: white;
}
header i{
    font-size: 20px;
    padding: 10px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--ps-navbar)
}
.ps_color_black{
    color: black;
}
/* #endregion header */

/* #region jumbotron */

.jumbotron{
    background-image: url("./img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
.jumbotron .banner img, .banner p{
    width: 400px;
}
.jumbotron .banner{
    padding: 25rem 0;
}
.jumbotron .banner p, .jumbotron .banner h2, .jumbotron .banner button{
    margin: 2rem 0;
}
.btn_action{
    background-color: var(--ps-call_to_action);
    color: white;
}

/* #endregion jumbotron */

/* #region play_5 */
.play_5 h4{
    font-size: var(--ps-navbar);
    color: var(--ps-information);
    font-weight: 600;
}
.play_5 p{
    color: var(--ps-p);
}
.btn_information{
    background-color: var(--ps-information);
}
.play_5 .accessories .caption{
    width: 70%;
    margin: auto;
}

/* #endregion play_5 */
/* #region takes_two */
.takes_two{
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
.takes_two .banner img{
    width: 400px;
    margin: 1rem 3rem;
}
.takes_two h2, .takes_two p{
    width: 400px;
}
.takes_two .caption{
    padding: 5rem 0;
}
.takes_two .caption h2,
.takes_two .caption button,
.takes_two .caption p{
    margin: 2rem 3rem;

}
/* #endregion takes_two */

/* #region new_arrival */
.new_arrival{
    background-color: var(--ps-new_arrival);
}
/* #endregion new_arrival */
/* #region play_4 */
.play_4 p{
    margin-bottom: 0;
    color: var(--ps-p);
    font-weight: 600;
}
/* #endregion play_4 */
/* #region footer */
footer{
    background-color: var(--ps-footer);
}
/* #endregion footer */

